*{
    margin:0px;
    padding:0px;
}
body,html{
    background-image: linear-gradient(to top ,#31cadb,#75E6DA,#3a87a0);
    background-repeat: no-repeat;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: rgb(14, 9, 9);
    max-width: 400px;
    width: 90%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    box-shadow: 10px 10px  6px   rgb(183, 155, 13);
    border-radius: 30px;
    border-color: #df6705;

    


}
#head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    color: white;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.3;
    color: white;
    text-align: center;
    padding-bottom:2px;
}
#btn{
    margin:10px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300px;
    
}
#btn:hover{
    background-color: orange;
     height: 30px;
    width: 100px;
}
#res{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 20px;


}